<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Aris Sulistiana">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Arsycode</title>
    <link rel="icon" href="{{base_url()}}assets/img/fav.png" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="{{base_url()}}assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base_url()}}assets/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="{{base_url()}}assets/css/style.css" rel="stylesheet">
    <script src="{{base_url()}}assets/js/modernizr.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">

        <div class="navbar-default navbar-fixed-top" id="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home">
                        <!-- <img src="img/logo.png" width="80" alt="Logo"> -->
                        arsycode.com
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <nav class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right" id="top-nav">
                        <li class="current"><a href="#home">Home</a></li>
                        <li><a href="#product">Products</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>

        <!-- box-intro -->
        <section class="box-intro" id="home">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
                        <b class="is-visible">code.</b>
                        <b>web&nbsp;app.</b>
                        <!-- <b>mobile&nbsp;app.</b> -->
                        <b>android.</b>
                        <b>ios.</b>
                    </span>
		        </h1>
                <h5>everything you need, build with us.</h5>
            </div>

            <div class="mouse">
                <div class="scroll"></div>
            </div>
        </section>
        <!-- end box-intro -->
    </div>

    <!-- main container -->
    <div class="main-container portfolio-inner clearfix section" id="product" style="background-color:#f8f8f8">
        <!-- portfolio div -->
        <div class="portfolio-div">
            <div class="portfolio">
                <!-- portfolio_filter -->
                <div class="categories-grid wow fadeInLeft">
                    <nav class="categories text-center">
                        <ul class="portfolio_filter">
                            <li><a href="" class="active" data-filter="*">All</a></li>
                            {% for category in categories %}
                            <li><a href="" data-filter=".{{category.category_filter}}">{{category.category_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <!-- portfolio_filter -->

                <!-- portfolio_container -->
                <div class="portfolio_container clearfix">
                    <!-- single work -->
                    {% for product in products %}
                    <div class="col-xs-6 col-md-2 col-sm-4 portfolio_data {{product.category_filter}}">
                        <a href="{{base_url()}}product/{{product.id}}" class="portfolio_item">
                            <img src="{{product.image}}" alt="image" class="img-responsive" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info">
                                        <span>{{product.title}}</span>
                                        <em>{{product.category_filter}}</em>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    <!-- end single work -->
                </div>
                <!-- end portfolio_container -->
            </div>
            <!-- portfolio -->
        </div>
        <!-- end portfolio div -->
    </div>
    <!-- end main container -->

    <!-- main-container -->
    <div class="container main-container portfolio-inner clearfix section" id="contact">
        <div class="col-md-6">
            <h3 class="text-uppercase">contact us</h3>
            <h5>We'd love to help</h5>
            <div class="h-30"></div>
            <p>We would be happy to answer your questions and set up to meeting with you. Arsycode can help everything you need. </p> <br>
            <div class="contact-info">
                <p><i class="ion-android-call"></i> 0822 1678 1755</p>
                <p><i class="ion-ios-email"></i> arsycode@gmail.com</p>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <form action="#" method="post" class="form-contact">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-contact">
                            <input type="text" name="name" required>
                            <span>your name</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-contact">
                            <input type="email" name="email" required>
                            <span>your email</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="textarea-contact">
                            <textarea name="message" required></textarea>
                            <span>message</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-box pull-right">Send</button>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <br>
        </div>
    </div>
    <!-- end main-container -->


    <!-- footer -->
    <footer class="clearfix">
        <div class="container-fluid">
            <div class="content content-boxed">
                <!-- Footer Navigation -->
                <div class="row push-30-t items-push-2x">
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Company</h3>
                        <ul class="list list-simple-mini font-s13" id="menu-bottom">
                            <li>
                                <a class="font-w600" href="#home">Home</a>
                            </li>
                            <li>
                                <a class="font-w600" href="#product">Products</a>
                            </li>
                            <li>
                                <a class="font-w600" href="#contact">Contact Us</a>
                            </li>
                            <!-- <li>
                                  <a class="font-w600" href="http://localhost/busana-bandung/contact">Contact Us</a>
                              </li> -->
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Social Media</h3>
                        <ul class="list list-simple-mini font-s13">
                            <li>
                                <a class="font-w600" href="http://localhost/busana-bandung/term">Facebook</a>
                            </li>
                            <li>
                                <a class="font-w600" href="http://localhost/busana-bandung/term">Twitter</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Get In Touch</h3>
                        <div class="font-s13 push">
                            <strong>Arsy Code,</strong>
                            <br> Jln. Sarimanah 2 No. 49, Sarijadi
                            <br> Kota Bandung
                            <br>
                        </div>
                        <!-- <div class="font-s13">
                              <i class="si si-screen-smartphone"></i> 0822 1678 1755
                              <br>
                              <i class="si si-envelope-open"></i> aris.sulistiana09@gmail.com
                          </div> -->
                    </div>
                </div>
                <!-- END Footer Navigation -->

                <!-- Copyright Info -->
                <div class="font-s12 clearfix text-center">
                    <hr>
                    <div class="handwrite">
                        Arsy Code
                    </div>
                    <div class="">
                        <a class="font-w600" href="http://arsycode.com">Arsy Code</a> © <span class="js-year-copy">2016</span>
                    </div>
                </div>
                <!-- END Copyright Info -->
            </div>
            <!-- <p class="copyright">© arsycode 2016</p> -->
        </div>
    </footer>
    <!-- end footer -->

    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->



    <!-- jQuery -->
    <script src="{{base_url()}}assets/js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="{{base_url()}}assets/js/bootstrap.min.js"></script>
    <!-- <script src="js/menu.js"></script> -->
    <script src="{{base_url()}}assets/js/jquery.nav.js"></script>
    <script src="{{base_url()}}assets/js/animated-headline.js"></script>
    <script src="{{base_url()}}assets/js/isotope.pkgd.min.js"></script>
    <!--  custom script -->
    <input type="hidden" id="base_url" value="{{base_url()}}">
    <script src="{{base_url()}}assets/js/custom.js"></script>

</body>

</html>
