<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Aris Sulistiana">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{product.title}}</title>
    <link rel="icon" href="{{base_url()}}assets/img/fav.png" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="{{base_url()}}assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base_url()}}assets/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="{{base_url()}}assets/css/style.css" rel="stylesheet">


    <!-- modernizr -->
    <script src="{{base_url()}}assets/js/modernizr.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">
      <div class="navbar-default navbar-fixed-top" id="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <a class="navbar-brand" href="javascript:window.history.back()">
                      <!-- <img src="img/logo.png" width="80" alt="Logo"> -->
                      <i class="ion-chevron-left" data-pack="default" data-tags="arrow, left"></i> Back
                  </a>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </div>

    </div>

    <!-- top-bar -->
    <!-- <div class="top-bar">
        <h1>project title</h1>
        <p><a href="#">Home</a> / <a href="#">product</a> / project title</p>
    </div> -->
    <!-- end top-bar -->

    <!-- main-container -->
    <div class="container main-container" style="padding: 100px 0;">
        <div class="col-xs-6 col-xs-offset-3 col-sm-offset-4 col-sm-4">
            <!-- <img src="http://placehold.it/1920x1080" alt="" class="img-responsive" /> -->
            <img src="{{product.image}}" alt="image" class="img-responsive" style="border-radius:10px"/>
            <div class="h-30"></div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <h3 class="text-uppercase">{{product.title}}</h3>
            <h5>{{product.subtitle}}</h5>
            <div class="h-30"></div>
        </div>

        <div class="col-md-12">
            <p>{{product.description}}</p>
            <br>
            <a href="{{product.url}}" target="_blank">Homepage</a>
        </div>
    </div>
    <!-- end main-container -->


    <!-- footer -->
    <footer class="clearfix">
        <div class="container-fluid">
            <div class="content content-boxed">
                <!-- Copyright Info -->
                <div class="font-s12 clearfix text-center">
                    <div class="handwrite">
                        Arsy Code
                    </div>
                    <div class="">
                        <a class="font-w600" href="http://arsycode.com">Arsy Code</a> © <span class="js-year-copy">2016</span>
                    </div>
                </div>
                <!-- END Copyright Info -->
            </div>
            <!-- <p class="copyright">© arsycode 2016</p> -->
        </div>
    </footer>
    <!-- end footer -->

    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->

    <!-- jQuery -->
    <script src="{{base_url()}}assets/js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="{{base_url()}}assets/js/bootstrap.min.js"></script>
    <script src="{{base_url()}}assets/js/menu.js"></script>
    <script src="{{base_url()}}assets/js/jquery.nav.js"></script>
    <script src="{{base_url()}}assets/js/animated-headline.js"></script>
    <script src="{{base_url()}}assets/js/isotope.pkgd.min.js"></script>
    <!--  custom script -->
    <script src="{{base_url()}}assets/js/custom.js"></script>

</body>

</html>
