{% extends "template/backend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        border-radius:50%;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>Admin</li>
        </ol>
    </div>
</div>
<!-- Page Content -->

<div class="content">

<!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header text-center bg-gray-lighter">
            <button class="btn btn-default btn-delete-admin pull-left"  data-toggle="tooltip" title="Remove selected" disabled><i class="si si-trash"></i></button>
            <button class="btn btn-primary btn-add-admin pull-right" onClick="openModal('#modal-add-admin', 'add')" data-toggle="tooltip" title="Add admin"><i class="si si-note"></i></button>
            <h4>Admin <small>List</small></h4>
        </div>
        <div class="block-content table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/admin.js -->
            <table class="table table-borderless table-striped data-admins">
                <thead>
                    <tr>
                        <th width="5">
                            <div class="checkbox-admin-all">
                              <input type="checkbox" data-toggle="tooltip" title="Select all">
                            </div>
                        </th>
                        <th width="1%">Photo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="text-center" width="1%">#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-admin" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="{{base_url()}}backend/admins/add" class="form-add-admin form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Add New Admin</h3>
                </div>
                <div class="block-content">
                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-4">
                            <img id="imgPreview" width="100%" src="{{base_url()}}/assets/oneui/img/avatars/avatar1.jpg">
                            <div class="fileUpload btn btn-default btn-flat btn-block">
                                <span>Browse Image</span>
                                <input type="file" class="upload" name="ImageFile" id="imageInput" required/>
                                <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input class="form-control" id="name-add-admin" name="name" type="text" required>
                                <label for="name-add-admin">Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input type="email" class="form-control" id="email-add-admin" name="email" required>
                                <label for="email-add-admin">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input class="form-control" id="password-add-admin" minlength="5" name="password" type="password" required>
                                <label for="password-add-admin">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input class="form-control" id="repass-add-admin" name="repassword" minlength="5" type="password" required>
                                <label for="repass-add-admin">Retype Password</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-add-admin">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-admin" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="" class="form-update-admin form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Update Admin</h3>
                </div>
                <div class="block-content">
                    <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-4">
                        <img id="imgPreview-update" width="100%" src="{{base_url()}}/assets/oneui/img/avatars/avatar1.jpg">
                        <div class="fileUpload btn btn-default btn-flat btn-block">
                            <span>Browse Image</span>
                            <input type="file" class="upload" name="photo" id="imageInput"/>
                            <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop-update"/>
                        </div>
                    </div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="name-update-admin" name="name" type="text" required>
                                <label for="name-update-admin">Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input type="email" class="form-control" id="email-update-admin" name="email" required>
                                <label for="email-update-admin">Email</label>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input class="form-control" id="password-update-admin" minlength="5" name="password" type="password">
                                <label for="password-update-admin">New Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input class="form-control" id="repass-update-admin" name="repassword" minlength="5" type="password">
                                <label for="repass-update-admin">Retype Password</label>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-update-admin">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->

<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-primary-dark">
                <ul class="block-options">
                    <li>
                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Image Cropper</h3>
            </div>
            <div class="block-content">
                <div id="cropper-wrap-img">
                    <img width="100%" src="/img/default.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
            <button type="button" class="btn btn-primary btn-crop">Crop</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Page JS Code -->
<input type="hidden" value="{{ base_url() }}" class="base_url" />
<script src="{{ base_url() }}/assets/oneui/js/pages/back_admin.js"></script>
{% endblock %}
