{% extends "template/backend.twig" %}
{% block styles %}

{% endblock %}

{% block body %}
		<!-- Page Content -->
		<div class="content content-boxed">
				<!-- Header Tiles -->
				<div class="row">
						<div class="col-sm-6 col-md-4">
								<a class="block block-link-hover3 text-center" href="base_pages_ecom_orders.html">
										<div class="block-content block-content-full">
												<div class="h1 font-w700 text-primary" data-toggle="countTo" data-to="35"></div>
										</div>
										<div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Pending Orders</div>
								</a>
						</div>
						<div class="col-sm-6 col-md-4">
								<a class="block block-link-hover3 text-center" href="base_pages_ecom_orders.html">
										<div class="block-content block-content-full">
												<div class="h1 font-w700" data-toggle="countTo" data-to="109"></div>
										</div>
										<div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Orders Today</div>
								</a>
						</div>
						<div class="col-sm-12 col-md-4">
								<a class="block block-link-hover3 text-center" href="javascript:void(0)">
										<div class="block-content block-content-full">
												<div class="h1 font-w700">$<span data-toggle="countTo" data-to="8970"></span></div>
										</div>
										<div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Earnings Today</div>
								</a>
						</div>
				</div>
				<!-- END Header Tiles -->

				<!-- Overview -->
				<div class="block block-opt-refresh-icon4">
						<div class="block-header bg-gray-lighter">
								<ul class="block-options">
										<li>
												<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
										</li>
								</ul>
								<h3 class="block-title">Orders Overview</h3>
						</div>
						<div class="block-content block-content-full">
								<!-- Chart.js Charts (initialized in js/pages/base_pages_ecom_dashboard.js), for more examples you can check out http://www.chartjs.org/docs/ -->
								<div style="height: 400px;"><canvas class="js-chartjs-overview"></canvas></div>
						</div>
				</div>
				<!-- END Overview -->

				<!-- Top Products and Latest Orders -->
				<div class="row">
						<div class="col-lg-6">
								<!-- Top Products -->
								<div class="block block-opt-refresh-icon4">
										<div class="block-header bg-gray-lighter">
												<!-- <ul class="block-options">
														<li>
																<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
														</li>
												</ul> -->
												<h3 class="block-title">Top 5 Seller</h3>
										</div>
										<div class="block-content">
												<table class="table table-borderless table-striped table-vcenter">
														<tbody>
																<tr>
																		<td class="text-center" style="width: 100px;"><a href="base_pages_ecom_product_edit.html"><strong>PID.965</strong></a></td>
																		<td><a href="base_pages_ecom_product_edit.html">Destiny: The Taken King</a></td>
																		<td class="hidden-xs text-center">
																				<div class="text-warning">
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																				</div>
																		</td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_product_edit.html"><strong>PID.154</strong></a></td>
																		<td><a href="base_pages_ecom_product_edit.html">Call of Duty: Black Ops III</a></td>
																		<td class="hidden-xs text-center">
																				<div class="text-warning">
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																				</div>
																		</td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_product_edit.html"><strong>PID.523</strong></a></td>
																		<td><a href="base_pages_ecom_product_edit.html">Minecraft: Story Mode</a></td>
																		<td class="hidden-xs text-center">
																				<div class="text-warning">
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																				</div>
																		</td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_product_edit.html"><strong>PID.423</strong></a></td>
																		<td><a href="base_pages_ecom_product_edit.html">Super Mario Maker</a></td>
																		<td class="hidden-xs text-center">
																				<div class="text-warning">
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																				</div>
																		</td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_product_edit.html"><strong>PID.391</strong></a></td>
																		<td><a href="base_pages_ecom_product_edit.html">Fallout 4</a></td>
																		<td class="hidden-xs text-center">
																				<div class="text-warning">
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																						<i class="fa fa-star"></i>
																				</div>
																		</td>
																</tr>
														</tbody>
												</table>
										</div>
								</div>
								<!-- END Top Products -->
						</div>
						<div class="col-lg-6">
								<!-- Latest Orders -->
								<div class="block block-opt-refresh-icon4">
										<div class="block-header bg-gray-lighter">
												<!-- <ul class="block-options">
														<li>
																<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
														</li>
												</ul> -->
												<h3 class="block-title">Latest 5 Orders</h3>
										</div>
										<div class="block-content">
												<table class="table table-borderless table-striped table-vcenter">
														<tbody>
																<tr>
																		<td class="text-center" style="width: 100px;"><a href="base_pages_ecom_order.html"><strong>ORD.7116</strong></a></td>
																		<td class="hidden-xs"><a href="base_pages_ecom_customer.html">Amber Walker</a></td>
																		<td><span class="label label-success">Delivered</span></td>
																		<td class="text-right"><strong>$588,00</strong></td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_order.html"><strong>ORD.7115</strong></a></td>
																		<td class="hidden-xs"><a href="base_pages_ecom_customer.html">Judy Alvarez</a></td>
																		<td><span class="label label-danger">Canceled</span></td>
																		<td class="text-right"><strong>$815,00</strong></td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_order.html"><strong>ORD.7114</strong></a></td>
																		<td class="hidden-xs"><a href="base_pages_ecom_customer.html">Evelyn Willis</a></td>
																		<td><span class="label label-success">Delivered</span></td>
																		<td class="text-right"><strong>$931,00</strong></td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_order.html"><strong>ORD.7113</strong></a></td>
																		<td class="hidden-xs"><a href="base_pages_ecom_customer.html">Ethan Howard</a></td>
																		<td><span class="label label-warning">Processing</span></td>
																		<td class="text-right"><strong>$525,00</strong></td>
																</tr>
																<tr>
																		<td class="text-center"><a href="base_pages_ecom_order.html"><strong>ORD.7112</strong></a></td>
																		<td class="hidden-xs"><a href="base_pages_ecom_customer.html">Keith Simpson</a></td>
																		<td><span class="label label-success">Delivered</span></td>
																		<td class="text-right"><strong>$217,00</strong></td>
																</tr>
														</tbody>
												</table>
										</div>
								</div>
								<!-- END Latest Orders -->
						</div>
				</div>
				<!-- END Top Products and Latest Orders -->
		</div>
		<!-- END Page Content -->
{% endblock %}

{% block scripts %}
<script src="{{ base_url() }}/assets/oneui/js/pages/base_pages_ecom_dashboard.js"></script>
<script>
		jQuery(function () {
				// Init page helpers (Appear + CountTo plugins)
				App.initHelpers(['appear', 'appear-countTo']);
		});
</script>
{% endblock %}
