<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Arsycode | Admin</title>

        <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="icon" href="{{base_url()}}assets/img/fav.png" type="image/x-icon">

        <!-- END Icons -->
        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <!-- Bootstrap and OneUI CSS framework -->
        <link rel="stylesheet" href="{{base_url()}}assets/oneui/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="{{base_url()}}assets/oneui/css/oneui.css">
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Login Content -->
        <div class="content overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!-- Login Block -->
                    <div class="block block-themed animated fadeIn">
                        <div class="block-header bg-black">

                            <h3 class="block-title">Login</h3>
                        </div>
                        <div class="block-content block-content-full block-content-narrow">
                            <!-- Login Title -->
                            <h1 class="h2 font-w600 push-30-t push-5">Arsycode App</h1>
                            <p>Welcome, please login.</p>
                            <!-- END Login Title -->

                            <!-- Login Form -->
                            <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                            <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <form class="js-validation-login form-horizontal" action="{{base_url()}}backend/admins/auth" method="post">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary floating open">
                                            <input class="form-control" type="email" id="email" name="email" placeholder="youremailaddres@domain.com">
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary floating open">
                                            <input class="form-control" type="password" id="password" name="password" placeholder="your password">
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- <div class="col-xs-12 col-sm-6 col-md-4 pull-right"> -->
                                        <button class="btn btn-block bg-black text-white" type="submit">Log in</button>
                                    <!-- </div> -->
                                </div>
                            </form>
                            <!-- END Login Form -->
                        </div>
                    </div>
                    <!-- END Login Block -->
                </div>
            </div>
        </div>
        <!-- END Login Content -->

        <!-- Login Footer -->
        <div class="push-10-t text-center animated fadeInUp">
            <small class="text-muted font-w600">2016 &copy; arsycode</small>
        </div>
        <!-- END Login Footer -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="{{base_url()}}assets/oneui/js/core/jquery.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/core/bootstrap.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/core/jquery.slimscroll.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/core/jquery.scrollLock.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/core/jquery.appear.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/core/jquery.countTo.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/core/jquery.placeholder.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/core/js.cookie.min.js"></script>
        <script src="{{base_url()}}assets/oneui/js/app.js"></script>

        <!-- Page JS Plugins -->
        <script src="{{base_url()}}assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>

        <!-- Page JS Code -->
        <script src="{{base_url()}}assets/oneui/js/pages/login.js"></script>
    </body>
</html>
