{% extends "template/backend.twig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        /*border-radius:50%;*/
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>Product</li>
        </ol>
    </div>
</div>
<!-- Page Content -->

<div class="content">

<!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header text-center bg-gray-lighter">
            <button class="btn btn-default btn-delete-product pull-left"  data-toggle="tooltip" title="Remove selected" disabled><i class="si si-trash"></i></button>
            <button class="btn btn-primary btn-add-product pull-right" onClick="openModal('#modal-add-product', 'add')" data-toggle="tooltip" title="Add product"><i class="si si-note"></i></button>
            <h4>Product <small>List</small></h4>
        </div>
        <div class="block-content table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/product.js -->
            <table class="table table-borderless table-striped data-products">
                <thead>
                    <tr>
                        <th width="5">
                            <div class="checkbox-product-all">
                              <input type="checkbox" data-toggle="tooltip" title="Select all">
                            </div>
                        </th>
                        <th width="1%">Image</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th class="text-center" width="1%">#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-product" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="{{base_url()}}backend/products/add" class="form-add-product form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Add New Product</h3>
                </div>
                <div class="block-content">
                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-4">
                            <img id="imgPreview" width="100%" src="{{base_url()}}/assets/oneui/img/avatars/avatar1.jpg">
                            <div class="fileUpload btn btn-default btn-flat btn-block">
                                <span>Browse Image</span>
                                <input type="file" class="upload" name="ImageFile" id="imageInput" required/>
                                <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                            </div>
                            <small class="text-muted">Best Resolution 1024x1024 or Ratio 1:1</small>
                        </div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="title-add-product" name="title" type="text" required>
                                <label for="title-add-product">Title</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="subtitle-add-product" name="subtitle" type="text" required>
                                <label for="subtitle-add-product">Subtitle</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <select class="form-control" id="category-add-product" name="product_category" required>
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.category_name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="category-add-product">Category</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="url-add-product" name="url" type="url" value="http://" required>
                                <label for="url-add-product">URL</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <textarea class="form-control" id="description-add-product" name="description" required></textarea>
                                <label for="description-add-product">Description</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-add-product">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-product" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="" class="form-update-product form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Update Product</h3>
                </div>
                <div class="block-content">
                    <div class="form-group">
                      <div class="col-xs-4 col-xs-offset-4">
                          <img id="imgPreview-update" width="100%" src="{{base_url()}}/assets/oneui/img/avatars/avatar1.jpg">
                          <div class="fileUpload btn btn-default btn-flat btn-block">
                              <span>Browse Image</span>
                              <input type="file" class="upload" name="photo" id="imageInput"/>
                              <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop-update"/>
                          </div>
                          <small class="text-muted">Best Resolution 1280x1024 or Ratio 5:4</small>
                      </div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="title-update-product" name="title" type="text" required>
                                <label for="title-update-product">Title</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="subtitle-update-product" name="subtitle" type="text" required>
                                <label for="subtitle-update-product">Subtitle</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <select class="form-control" id="category-update-product" name="product_category" required>
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.category_name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="category-update-product">Category</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="url-update-product" name="url" type="url" value="http://" required>
                                <label for="url-update-product">URL</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <textarea class="form-control" id="description-update-product" name="description" required></textarea>
                                <label for="description-update-product">Description</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-update-product">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->

<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-primary-dark">
                <ul class="block-options">
                    <li>
                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Image Cropper</h3>
            </div>
            <div class="block-content">
                <div id="cropper-wrap-img">
                    <img width="100%" src="/img/default.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
            <button type="button" class="btn btn-primary btn-crop">Crop</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="{{ base_url() }}/assets/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/cropper/dist/cropper.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/moment.min.js"></script>
<script src="{{ base_url() }}/assets/oneui/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>

<!-- Page JS Code -->
<input type="hidden" value="{{ base_url() }}" class="base_url" />
<script src="{{ base_url() }}/assets/oneui/js/pages/back_product.js"></script>
{% endblock %}
