body{
  padding-right: 0 !important;
}
.header-navbar-transparent.header-navbar-fixed.header-navbar-scroll #header-navbar {
    background-color: #3e4a59;
}
.table-transparent{
    background: none !important;
}
@media screen and (min-width: 992px) {
  #side-overlay {
    width: 600px !important;
  }
}

#page-container{
  padding-top: 60px !important;
}

#main-container{
  background-color: #ffffff !important;
}

.header-navbar-transparent #header-navbar {
    background-color: rgba(79,84,107,1) !important;
}

.header-navbar-transparent.header-navbar-fixed.header-navbar-scroll #header-navbar {
    background-color: #4f546b !important;
}

.slick-slider.slick-dotted .slick-dots{
  bottom: -25px !important;
}
