<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Arsycode | CMS</title>


        <meta name="description" content="{{setting.store_name}} - {{setting.store_address}}, {{setting.store_city}}, {{setting.store_province}}.">
        <meta name="author" content="Aris Sulistiana">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <!-- <link rel="shortcut icon" href="{{setting.store_logo}}"> -->
        <link rel="icon" href="{{base_url()}}assets/img/fav.png" type="image/x-icon">


        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/slick/slick.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/slick/slick-theme.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/assets/oneui/js/plugins/select2/select2-bootstrap.min.css">

        <!-- Bootstrap and OneUI CSS framework -->
        <link rel="stylesheet" href="{{ base_url() }}/assets/oneui/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="{{ base_url() }}/assets/oneui/css/oneui.css">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="{{ base_url() }}/assets/oneui/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
            <!-- Sidebar -->
            <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        <div class="side-header side-content bg-white-op text-center">
                            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                                <i class="fa fa-times"></i>
                            </button>
                            <a class="h5 text-white" href="#" style="margin-top:-2px">
                                <!-- <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">ne</span> -->
                                <!-- <img src="{{base_url()}}assets/images/logo.png" width="100" alt="" /> -->
                                arsycode
                                <!-- Arsycode CMS -->
                            </a>
                        </div>
                        <!-- END Side Header -->

                        <!-- Side Content -->
                        <div class="side-content">
                          <ul class="nav-main">
                          {% for nav in navigations['admin'] %}
                              {% if nav.heading %}
                                  <li class="nav-main-heading">
                                      <span class="sidebar-mini-hide">{{nav.displayName}}</span>
                                  </li>
                              {% elseif nav.child == false %}
                                  <li>
                                      <a class="" href="{{base_url(nav.url)}}">
                                          <i class="si {{nav.icon}}"></i>
                                          <span class="sidebar-mini-hide">{{nav.displayName}}</span>
                                      </a>
                                  </li>
                              {% else %}
                                  <li>
                                      <a class="nav-submenu" data-toggle="nav-submenu" href="#">
                                          <i class="si {{nav.icon}}"></i>
                                          <span class="sidebar-mini-hide">{{nav.displayName}}</span></a>
                                          <ul>
                                              {% for navChild in nav.child %}
                                                  <li>
                                                      <a href="{{base_url(navChild.url)}}">{{navChild.displayName}}</a>
                                                  </li>
                                              {% endfor %}
                                          </ul>
                              </li>
                              {% endif %}
                          {% endfor %}
                          </ul>
                        </div>
                        <!-- END Side Content -->
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
            </nav>
            <!-- END Sidebar -->

            <!-- Header -->
            <header id="header-navbar" class="content-mini content-mini-full">
                <!-- Header Navigation Right -->
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="{{ base_url() }}/assets/oneui/img/avatars/avatar10.jpg" alt="Avatar">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Account</li>
                                <li>
                                    <a tabindex="-1" href="{{ base_url() }}/profile">
                                        <i class="si si-user pull-right"></i>Profile
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Actions</li>
                                <li>
                                    <a tabindex="-1" href="{{ base_url() }}backend/admins/logout">
                                        <i class="si si-logout pull-right"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- END Header Navigation Right -->

                <!-- Header Navigation Left -->
                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <!-- <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button> -->
                    </li>

                </ul>
                <!-- END Header Navigation Left -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                {% block body %}{% endblock %}
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
                <div class="pull-right">
                    Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
                </div>
                <div class="pull-left">
                    <a class="font-w600" href="#">{{setting.store_name}}</a> &copy; <span class="js-year-copy"></span>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="{{ base_url() }}/assets/oneui/js/core/jquery.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/core/bootstrap.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/core/jquery.slimscroll.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/core/jquery.scrollLock.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/core/jquery.appear.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/core/jquery.countTo.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/core/jquery.placeholder.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/core/js.cookie.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/plugins/select2/select2.full.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/app.js"></script>

        <!-- Page Plugins -->
        <script src="{{ base_url() }}/assets/oneui/js/plugins/slick/slick.min.js"></script>
        <script src="{{ base_url() }}/assets/oneui/js/plugins/chartjs/Chart.min.js"></script>
        <script>
            $(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers(['slick', 'select2']);

                var path = window.location.href;
                $('.nav-main li a').each(function(){
                    path = path.replace('#', '');
                    if(this.href === path){
                        $(this).addClass('active');
                    }
                });

                var checkCookie = localStorage.getItem("commerce");
                if (checkCookie != null) {
                    $('.nav-main > li > a:eq('+checkCookie+')').parent('li').addClass('open').next().show();
                }

                $('.nav-main > li > a').click(function(){
                    var navIndex = $('.nav-main > li > a').index(this);
                    localStorage.setItem("commerce", navIndex);
                });
            });
        </script>
        <!-- Page JS Code -->
        {% block scripts %}{% endblock %}

    </body>
</html>
